{% extends 'base.html.twig' %}

{% block body %}

    <!-- Heading Row -->

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <img class="img-responsive img-rounded" src="{{ asset('uploads/adv/'~adv.Pic) }}" alt="" style="width:400px;height:300px;">
                </div>
                <!-- /.col-md-8 -->
                <div class="col-md-4">
                    <h1>جزئیات آگهی</h1>
                    <h> نام : {{adv.name}}<h/><br>
                        <h> تلفن : {{adv.tel}}<h/><br>
                            <h> دسته : {{adv.cat}}<h/><br>
                                <h> مکان : {{adv.city}}<h/><br>
                                    <h> آدرس : {{adv.address}}<h/><br>
                                        <h> موضوع : {{adv.sub}}<h/><br>
                                            <h> توضیحات : {{adv.des}}<h/>         

                                                </div>
                                                <!-- /.col-md-4 -->
                                                </div>
                                                <!-- /.row -->

                                                </div>
                                                </div>


                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                {{ form(form) }} 

                                                            </div>
                                                            <!-- /.col-md-8 -->
                                                            <div class="col-md-4">

                                                                {% for comment in comments %}

                                                                    <h3>نام : {{comment.name}}</h3>
                                                                    <p> نظر{{comment.comment}}.</p>
                                                                {%endfor%}
                                                            </div>
                                                            <!-- /.col-md-4 -->
                                                        </div>
                                                        <!-- /.row -->

                                                    </div>
                                                </div>





                                            {% endblock %}